@use '@angular/material' as mat;

$item-icon-color: #44739e;

.info:only-child {
  width: 100%;
  justify-content: space-between;
}

.icon {
  flex-shrink: 0;
}

:host {
  @include mat.icon-overrides(
    (
      color: $item-icon-color,
    )
  );
}
