@use '@angular/material' as mat;

$icon-size: 24px;
$icon-margin: 16px;

.menu-button {
  font-size: medium;
  justify-content: flex-start;
  width: 100%;
}

.menu-icon.mat-icon {
  font-size: $icon-size;
  width: $icon-size;
  height: $icon-size;
}

:host {
  @include mat.button-overrides(
    (
      text-with-icon-horizontal-padding: 0,
      text-icon-offset: $icon-margin,
      text-icon-spacing: $icon-margin,
    )
  );
}
