.d-flex {
  display: flex;
}

.w-100 {
  width: 100%;
}

.justify-content-between {
  justify-content: space-between;
}

.cursor-pointer {
  cursor: pointer;
}

.item-with-icon {
  display: flex;
  align-items: center;
  gap: 0.5rem;

  &:has(.item-icon-bottom) {
    flex-direction: column;
  }
}

.item-icon-left {
  order: -1;
}

.item-icon-right {
  order: 1;
}

.item-icon-bottom {
  order: 1;
}

.item-icon-active {
  color: rebeccapurple;
}
