@use 'item-with-icon';
@use 'mover-surround';

.d-flex {
  display: flex;
}

.w-100 {
  width: 100%;
}

.justify-content-between {
  justify-content: space-between;
}

.cursor-pointer {
  cursor: pointer;
}

.capitalize {
  text-transform: capitalize;
}

.heading-1 {
  font-size: 2rem;
}

.heading-2 {
  font-size: 1.5rem;
  font-weight: 400;
}

.body-1 {
  font-size: 1rem;
  font-weight: 400;
}

.body-2 {
  font-size: 1.25rem;
}

.body-3 {
  font-size: 1.5rem;
}

.danger:not(:disabled) {
  color: #c64148 !important;
}

.warning:not(:disabled) {
  color: #e2b134 !important;
}
