<div cdkDropListGroup class="card-list">
  @for (group of sortingByGroups(); track group; let groupIndex = $index) {
    <div
      cdkDropList
      [cdkDropListData]="group"
      id="{{ groupIndex }}"
      [cdkDropListConnectedTo]="dropListsIds()"
      class="card-list-group"
      (cdkDropListDropped)="drop($event)"
    >
      @for (cardId of group; track cardId) {
        <div class="card-box" cdkDrag>
          <ng-container *ngTemplateOutlet="cardTemplateRef(); context: { cardId }"> </ng-container>
        </div>
      }
    </div>
  }
</div>
