$gap: 16px;

.card-list {
  display: flex;
  flex-wrap: wrap;
  gap: $gap;
}

.card-list-group {
  flex: 1 1 30%;
  display: flex;
  flex-direction: column;
  gap: $gap;
  min-width: 200px;
  max-width: 400px;
}

.card-box {
  cursor: move;
}
