<form [formGroup]="form()" class="form" (focusin)="formFocus.emit()">
  @for (controlInfo of controlsInfo(); track controlInfo.controlKey) {
    <app-form-input class="form-input" [inputData]="controlInfo"></app-form-input>
  }

  @if (showError()) {
    <mat-error>{{ errorMessage() }}</mat-error>
  }

  @if (submitButtonText()) {
    <button
      class="button"
      matButton="filled"
      [disabled]="disableSubmitWhileInvalid() && form().invalid"
      (click)="handleFormSubmit()"
    >
      {{ submitButtonText() }}
    </button>
  }
</form>
