<app-card [title]="data().title" [hideTitle]="isSingleDevice()">
  <ng-container cardAction>
    @if (showAllDevicesState()) {
      <mat-slide-toggle
        [checked]="allDevicesState()"
        [hideIcon]="true"
        (change)="changeAllDevicesState()"
      ></mat-slide-toggle>
    }
  </ng-container>
  <ng-container cardContent>
    <div [class.card-content-vertical]="isContentVertical()">
      @for (item of data().items; track $index) {
        @if (item.type === 'sensor') {
          <app-sensor class="card-row" [data]="item" [iconPosition]="getIconPosition()"></app-sensor>
        } @else if (item.type === 'device') {
          <app-device
            class="card-row"
            [data]="item"
            [iconPosition]="getIconPosition()"
            [showStateToggle]="!isSingleDevice()"
            (changeState)="changeDeviceState(item)"
          ></app-device>
        }
      }
    </div>
  </ng-container>
  @if (isSingleDevice()) {
    <ng-container cardFooter>
      <span class="card-footer">{{ singleDeviceState() | appStateValue }}</span>
    </ng-container>
  }
</app-card>
