@use '@angular/material' as mat;
@use '/styles/variables' as vars;

$item-radius: 0.25rem;
$item-margin: 0.25rem;
$menu-font-size: 1.15rem;
$default-color: var(--mat-sys-on-surface-variant);
$active-color: #07a9f4;
$active-bg-color: #182e37;

:host::ng-deep .mat-drawer-inner-container {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.nav-header {
  height: vars.$header-height;
  padding: 0;

  .nav-tem {
    font-size: 1.5rem;
    position: relative;
    top: 1px;
  }
}

.nav-content {
  flex: 1 1 auto;
  overflow-y: auto;
  min-height: 0;
}

.nav-item {
  margin: $item-margin;
  border-radius: $item-radius;

  .nav-item-label {
    text-transform: capitalize;
  }

  &__active {
    background-color: $active-bg-color;

    .nav-item-label,
    .nav-item-icon {
      color: $active-color;
    }
  }
}

:host {
  @include mat.button-overrides(
    (
      text-container-shape: $item-radius,
    )
  );

  @include mat.list-overrides(
    (
      active-indicator-shape: $item-radius,
    )
  );

  .nav-item__menu {
    @include mat.button-overrides(
      (
        text-label-text-size: $menu-font-size,
      )
    );
  }
}
