@use '@angular/material' as mat;
@use '/styles/variables' as vars;

$item-radius: 0.25rem;
$item-margin: 0.25rem;
$logout-color: #e23535;
$active-color: #07a9f4;
$active-bg-color: #182e37;

:host::ng-deep .mat-drawer-inner-container {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.nav-header {
  height: vars.$header-height;
  display: flex;
  align-items: center;
  padding: 0;
}

.nav-content {
  flex: 1 1 auto;
  overflow-y: auto;
  min-height: 0;
}

.nav-footer {
  margin-top: auto;
}

.nav-link {
  margin: $item-margin;
  border-radius: $item-radius;

  .nav-link-label {
    text-transform: capitalize;
  }

  &__active {
    background-color: $active-bg-color;

    .nav-link-label,
    .nav-link-icon {
      color: $active-color;
    }
  }
}

.nav-button {
  width: 100%;
  margin-inline: $item-margin;
}

:host {
  @include mat.button-overrides(
    (
      text-container-shape: $item-radius,
    )
  );

  @include mat.list-overrides(
    (
      active-indicator-shape: $item-radius,
    )
  );

  .nav-button__logout {
    @include mat.button-overrides(
      (
        text-label-text-color: $logout-color,
      )
    );
  }
}
