$gap-horisontal-x: 1rem;
$gap-horisontal-y: 0.5rem;
$gap-vertical: 1.5rem 0.5rem;

.card-content:not(.card-content-vertical) {
  .card-row:not(:last-child) {
    margin-bottom: $gap-horisontal-y;
  }

  .card-item {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: $gap-horisontal-x;
  }
}

.card-content-vertical {
  width: 100%;
  display: grid;
  grid-template-rows: auto auto auto;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  gap: $gap-vertical;
  word-break: break-word;
  text-align: center;

  .card-row,
  .card-item {
    display: grid;
    grid-template-rows: subgrid;
    grid-row: 1 / 4;
  }
}

:host ::ng-deep .card-content-vertical {
  app-home-item-name,
  .item-with-icon {
    display: grid;
    grid-template-rows: subgrid;
    grid-row: 1 / 3;
  }

  .item-with-icon {
    align-items: baseline;
    gap: $gap-vertical;
  }
}
