<ng-template #cardTitleTemplate>
  {{ cardData().title }}
</ng-template>

<ng-template #cardActionTemplate>
  @if (showAllDevicesState()) {
    <mat-slide-toggle
      [checked]="allDevicesState()"
      [hideIcon]="true"
      aria-label="Toggle all devices state"
      (change)="changeAllDevicesState()"
    ></mat-slide-toggle>
  }
</ng-template>

<ul class="card-content" [class.card-content-vertical]="isContentVertical()">
  @for (itemId of cardData().itemIds; track $index) {
    @let item = homeItemsEntities()[itemId];
    @if (item) {
      <li class="card-row">
        @switch (item.type) {
          @case ('sensor') {
            <app-sensor class="card-item" [sensorData]="item" [iconPosition]="iconPosition()">
              <span class="capitalize">{{ item.value | appUnits }}</span>
            </app-sensor>
          }
          @case ('device') {
            <app-device
              class="card-item"
              [deviceData]="item"
              [iconPosition]="iconPosition()"
              (changeState)="changeDeviceState(item)"
            ></app-device>
          }
        }
      </li>
    }
  }
</ul>
