@use '@angular/material' as mat;

:root {
  @include mat.slide-toggle-overrides(
    (
      unselected-handle-size: 20px,
      selected-handle-size: 20px,
      pressed-handle-size: 20px,
      unselected-handle-horizontal-margin: 0px,
      unselected-pressed-handle-horizontal-margin: 0px,
      selected-handle-horizontal-margin: 0 18px,
      selected-pressed-handle-horizontal-margin: 0 18px,
      track-width: 36px,
      track-height: 12px,
    )
  );
}
