@use '/styles/breakpoints';

$gap: 0.5rem;
$min-card-width-sm: 260px;
$min-card-width-lg: 315px;
$min-card-width: 350px;

// .cdk-drag-placeholder {
//   opacity: 0.5;
// }

.card-list {
  column-width: $min-card-width;
  column-gap: $gap;

  @media (max-width: breakpoints.$grid-breakpoint-sm) {
    column-width: $min-card-width-sm;
  }

  @media (max-width: breakpoints.$grid-breakpoint-lg) {
    column-width: $min-card-width-lg;
  }
}

.card-box {
  min-width: $min-card-width-sm;
  break-inside: avoid;

  &:not(:last-child) {
    margin-bottom: $gap;
  }
}
