@use '/styles/breakpoints';

$gap: 0.5rem;

.card-list {
  columns: 350px;
  column-gap: $gap;

  @media (max-width: (breakpoints.$grid-breakpoint-md - 1)) {
    columns: 250px;
  }
}

.card-box {
  cursor: move;
  break-inside: avoid;

  &:not(:last-child) {
    margin-bottom: $gap;
  }
}
