@use '@angular/material' as mat;
@use '/styles/variables' as vars;

$gap: 1rem;
$tab-bg: #111f24;

:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.tab-content {
  flex-grow: 1;
  padding: $gap;
}

:host::ng-deep {
  @include mat.tabs-overrides(
    (
      divider-height: 1,
      divider-color: $tab-bg,
    )
  );

  .mat-mdc-tab-link-container {
    padding: 0 $gap;
    background-color: $tab-bg;
    height: vars.$header-height;
  }

  .mat-mdc-tab-list {
    flex-grow: initial;
  }
}
