@use '@angular/material' as mat;
@use '/styles/variables' as vars;
@use '/styles/breakpoints';

$gap: 1rem;
$tab-bg: #111f24;
$tab-bg-edit: #1c343d;

:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.dashboard-edit-box {
  display: flex;
  gap: $gap;
  padding: $gap $gap 0;
  background-color: $tab-bg-edit;

  @media (max-width: breakpoints.$grid-breakpoint-sm) {
    flex-direction: column-reverse;
  }
}

.dashboard-info {
  display: flex;
  align-items: center;
  gap: $gap;
}

.dashboard-actions {
  align-self: center;
  margin-left: auto;
  gap: $gap;

  &.dashboard-actions--edit {
    padding-inline: 0;
  }

  &.dashboard-actions--save {
    button:not(:last-child) {
      margin-right: $gap;
    }
  }
}

.tabs-actions {
  align-self: center;
}

.tab-content {
  flex-grow: 1;
  padding: $gap;
}

:host::ng-deep {
  @include mat.tabs-overrides(
    (
      divider-height: 1,
      divider-color: $tab-bg,
    )
  );

  .mat-mdc-tab-header-pagination {
    background-color: $tab-bg;
  }

  .mat-mdc-tab-link-container {
    background-color: $tab-bg;
    height: vars.$header-height;

    .mat-mdc-tab-list .mat-mdc-tab-link {
      flex-grow: initial;
    }
  }
}

.nav-container {
  padding: 0 $gap;
  background-color: $tab-bg;
}

:host(.edit-mode) {
  @include mat.tabs-overrides(
    (
      divider-color: $tab-bg-edit,
    )
  );

  .nav-container {
    background-color: $tab-bg-edit;
  }
}

:host(.edit-mode)::ng-deep {
  .mat-mdc-tab-header-pagination {
    background-color: $tab-bg-edit;
  }

  .mat-mdc-tab-link-container {
    background-color: $tab-bg-edit;
  }
}
